@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #fff;
}

* {
  scroll-behavior: smooth !important;
}

*:focus-visible {
  outline: #545454 dotted 0.05rem !important;
}

.no-outline {
  outline: 0rem !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);

  overflow-x: hidden !important;
  width: 100% !important;
  scroll-behavior: smooth !important;
}
@media (max-width: 768px) {
  body {
    margin-top: 164px !important;
  }
}
@media (min-width: 1024px) {
  body {
    margin-top: 135px !important;
  }
}
@media (min-width: 1280px) {
  body {
    margin-top: 135px !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#skeleton_gradient {
  left: 12rem;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  opacity: 5%;

  animation: skeleton_anim 1500ms linear infinite;
}

@keyframes skeleton_anim {
  0% {
    left: -12rem;
  }
  100% {
    left: 12rem;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}