@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #fff;
}

* {
  scroll-behavior: smooth !important;
}

*:focus-visible,
*:focus {
  outline: rgb(136, 136, 136) dashed 1px;
  outline-color: rgb(136, 136, 136);
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: 2px;
  /* box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); */
}

.no-outline {
  outline: 0rem !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);

  overflow-x: hidden !important;
  width: 100% !important;
  scroll-behavior: smooth !important;
}
/* @media (max-width: 768px) {
  body {
    margin-top: 216px !important;
  }
}
@media (min-width: 1024px) {
  body {
    margin-top: 144px !important;
  }
}
@media (min-width: 1280px) {
  body {
    margin-top: 144px !important;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font_figtree {
  font-family: "Figtree", sans-serif !important;
}
.font_libre {
  font-family: "Libre Baskerville", serif !important;
}
.font_garmond {
  font-family: "Cormorant Garamond", serif !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#skeleton_gradient {
  left: 40rem;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  opacity: 5%;

  animation: skeleton_anim 1500ms linear infinite;
}
#skeleton_gradient__white {
  left: 40rem;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgb(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  opacity: 5%;

  animation: skeleton_anim 1500ms linear infinite;
}

@keyframes skeleton_anim {
  0% {
    left: -40rem;
  }
  100% {
    left: 40rem;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.anim__pulse-wave {
  overflow: hidden;
}
.anim__pulse-wave::before {
  z-index: 2;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -10rem;
  transform: skewX(12deg);

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  opacity: 30%;

  pointer-events: none;

  animation: pulse_wave__cc 3000ms linear infinite;
}
.anim__pulse-wave::after {
  pointer-events: none;

  z-index: 1;
}

@keyframes pulse_wave__cc {
  0% {
    left: -10rem;
  }
  30% {
    left: 10rem;
  }
  100% {
    left: 10rem;
  }
}

.anim__pulse-wave2 {
  overflow: hidden;
}
.anim__pulse-wave2::before {
  z-index: 2;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -50rem;
  transform: skewX(12deg);

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  opacity: 30%;

  pointer-events: none;

  animation: pulse_wave__cc2 3000ms linear infinite;
}
.anim__pulse-wave2::after {
  pointer-events: none;

  z-index: 1;
}

@keyframes pulse_wave__cc2 {
  0% {
    left: -50rem;
  }
  30% {
    left: 50rem;
  }
  100% {
    left: 50rem;
  }
}



.no_date_icon[type="date"]::-webkit-inner-spin-button,
.no_date_icon[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}



/* REACT CALENDAR */
.react-calendar {
  width: 100% !important;
  border: 0px !important;
  border-radius: 8px !important;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none !important;
}


/* SWIPER SLIDER */
.swiper-wrapper {
  display: flex !important;
}

.swiper-initialized {
  display: flex !important;
}